* {
  border: none;
  border-radius: 0;
  padding: 0;
  padding-right: 4px;
  margin: 0;
  font-size: 12px;
  font-family: 'JetBrainsMono Nerd Font', monospace;
}

window#waybar {
  background: #031720;
  color: #9bacb4;
}

#workspaces button {
  padding: 0 10px;
  color: #9bacb4;
}

#workspaces button.focused {
  background-color: #052838;
}

#battery {
  margin-left: 7px;
  margin-right: 3px;
}

